version: "3.3"

services:
    backend:
        environment:
            EnvironmentName: Test
        ports:
            - 20001:80
            
    frontend:
        environment:
            EnvironmentName: Test
        ports:
            - 20000:80