version: "3.3"

services:
    postgres:
        image: postgres:latest
        container_name: postgres
        restart: always
        ports:
            - 5000:5432
        volumes:
            - /data/postgres:/data/postgres
        env_file:
            - docker.env
            
    flyway:
        image: flyway/flyway
        command: migrate
        volumes:
            - ./db:/flyway/sql
            - ./db:/flyway/conf
        depends_on: 
            - postgres